
<h1>Welcome to the <%= @chatroom.name %> room!</h1>



<br />
<hr />
<br />

<div id="main">
  <div class="top">
    <h2>TalkTime!</h2>
  </div>
  <!--START CHATBOX-->
  <div class="colFrame chatbox">

    <div class="winwrap" >
      <h2>Chatroom Title</h2>
      <div class="chatwindow" id="scrolltext">
        <ul class="message" id="<%= @chatroom.id %> " >
            <%= render :partial => 'entries' %>
        </ul>
      </div>
      <!--textfield :url => {  :controller => 'chatrooms', :action => 'update_view' },:complete => 'scrollToBottom()',-->
      <% form_for(@entry, :url => {  :controller => 'entries', :action => 'create' },
                          :html => {:id => 'comment_form', :method=>'POST',:controller => 'chatrooms', :action => 'update' }
      ) do |f| %>
        <%= f.error_messages %>

        <h1>Post Message</h1>
        <table>
          <tr>
          <%= f.label :message %><br />
          <%= f.text_area :message, :id =>'message_field', :size => "62x1", :value=>'' %>
          <%= f.hidden_field :chatroom_id, :value=>@chatroom.id %>
          </tr>
        </table>
        <%= f.submit 'comment', :id =>'message_submit' %>
        <span class="ajax_message">&nbsp;</span>
      <% end %>
    </div><!--end of winwrap-->
    <div class="newwrap">
      <h2>Uploaded Files</h2>
      <div class="filelist">

        <div class="upfile">
          <div class="filename">
            <a href="">Some file</a>
          </div>
          <div class="filedesc">
            <p>asldfjsaldjfadlsjfklsadjf</p>
          </div>
          
        </div>

      </div>
      <% form_for(@file, :url => {  :controller => 'entries', :action => 'create' },
                          :html => {:id => 'comment_form', :method=>'POST',:controller => 'chatrooms', :action => 'update' }
      ) do |f| %>
        <%= f.error_messages %>

        <h1>Post Message</h1>
        <table>
          <tr>
          <%= f.label :message %><br />
          <%= f.text_area :message, :id =>'message_field', :size => "62x1", :value=>'' %>
          <%= f.hidden_field :chatroom_id, :value=>@chatroom.id %>
          </tr>
        </table>
        <%= f.submit 'comment', :id =>'message_submit' %>
        <span class="ajax_message">&nbsp;</span>
      <% end %>
    </div>

    <div class="othrwrap">
      <h2>Other Monkeys</h2>
      <div class="userlist" >
        <% for member in @membership %>
        <% user = User.find(member.user_id) %>
        <div class="user">
            <%= gravatar_for user %>
            <%= link_to h(user.name), user_path(user), :class => 'username' %>
        </div>
        <% end %>
        


      </div>
    </div>




  </div>
  <!--END CHATBOX-->

  <br />
  <hr />
  <br />
  <p>
    <%= link_to "See All Chatrooms", chatrooms_path %>
  </p>
</div>