<!-- Logo + Search + Navigation -->
      <div id="top">
        <div class="cl">&nbsp;</div>
        <%= link_to logo, root_path, :id => 'logo' -%>
        <!-- Login Signup and Search Navigation -->
        <div id="topnav_container">
            <ul id="topnav" class="topnav">
                
                <% if signed_in? %>
                    <li><%= link_to "<span>Profile</span>", current_user , :class => 'topnav_links' -%></li>
                    <li><%= link_to "Support", support_path, :class => 'topnav_links' -%></li>
                    <li><%= link_to "Sign out", signout_path, :class => 'topnav_links', :method => :delete %></li>
                <% else %>
                    <li><%= link_to "<span>Sign Up</span>", signup_path, :class => 'topnav_links' -%></li>
                    <li><a href="#" class="topnav_links signin"><span>Sign In</span></a></li>
                <% end %>
                <li class="last">
                    <form onsubmit="getsearch()" method="get" id="searchIndex" class="topnav" action="">
                        <div>
                            <input type="submit" class="button button-Index" value="Search" />
                        </div>
                        <div class="field-holder-Index">
                            <input tabindex="3040" type="text" class="field-Index field" id="searchtxt" value="Search" title="Search" />
                        </div>

                        <div class="cl">&nbsp;</div>
                    </form>
                </li>
            </ul>
            <fieldset id="signin_menu" class="topnav">
                <% form_for(:session, :html => {:id=>'signin'}, :url => sessions_path) do |f| %>
                    <div class="field">
                        <%= f.label :email %>
                        <%= f.text_field :email, :tabindex=>'1000' %>
                    </div>
                    <div class="field">
                        <%= f.label :password %>
                        <%= f.password_field :password, :tabindex=>'1010' %>
                    </div>
                    <div class="actions remember">
                        <%= flash[:error] %>
                        <%= f.submit "Sign in" %>
                        <input tabindex="1030" id="remember" name="remember_me" value="1" type="checkbox"/>
                        <label for="remember">Remember me</label>
                    </div>
                    <div>
                        <a href="#" id="resend_password_link" class="forgot">Forgot your password?</a> <br/><br/>
                        <a id="forgot_username_link_title" href="#" class="forgot-username">Forgot your username?</a> 
                    </div>
                <% end %>
            </fieldset>
        </div>
        <!-- END - Login Signup and Search Navigation -->
        <div class="cl">&nbsp;</div>
        <div id="navigation">
          <ul>
            <li><%= link_to "<span>Home</span>", root_path, :class => 'active' -%></li>
            <li><%= link_to "<span>Sign Up</span>", signup_path %></li>
            <li><%= link_to "<span>Tour</span>", tour_path %></li>
            <li><%= link_to "<span>Support</span>", support_path %></li>
            <li><%= link_to "<span>About Us</span>", aboutus_path %></li>
          </ul>
        </div>
      </div>
      <!-- END Logo + Search + Navigation -->